

.task-card{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}
.task-title {
    font-size: 24px;
    color: #333;
}
  
.task-description {
    font-size: 16px;
    margin-top: 8px;
}
.edit{
    cursor: pointer;
}
.delete{
    cursor: pointer;
}